@import "../css/variables.module";

.excalidraw {
  .excalidraw-page-awareness-mobile {
    position: absolute;
    top: calc(var(--sat) + 2px);
    left: 0px;
    right: 0px;
    display: flex;
    padding: 0px 3px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    z-index: var(--zIndex-layerUI);
    gap: 3px;
    border-radius: 2px;

    transition: gap 0.2s ease-in-out;

    &.many-pages {
      gap: 1px;
      div {
        border-radius: 1px;
      }
    }

    div {
      display: flex;
      flex-grow: 1;
      background: white;
      opacity: 0.5;
      height: 2px;
      border-radius: 1px 1px 1px 1px;

      transition: border-radius 0.2s ease-in-out, height 0.1s ease-in-out,
        width 0.2s ease-in-out;

      &.current {
        opacity: 1;
        height: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .excalidraw-page-awareness-desktop {
    flex-direction: column;
    bottom: 0.2rem;
    left: 200px;
    right: 200px;
    display: flex;
    padding: 0px 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    gap: 3px;
    border-radius: 2px;
    pointer-events: none;

    transition: gap 0.2s ease-in-out;

    button {
      pointer-events: all;
    }

    div.pages {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-top: -11px;
    }

    div.buttons {
      display: flex;
      gap: 0.4rem;
      button > * {
        font-weight: bold;
      }
    }

    div.page {
      border: 1px solid lightgrey;
      background: white;
      opacity: 0.5;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

      transition: border-radius 0.2s ease-in-out, height 0.2s ease-in-out,
        width 0.2s ease-in-out;

      &.current {
        opacity: 1;
        height: 6px;
        width: 6px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
